*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    
}

html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}


main{
    width: 100%;
}

main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-2xl);

}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border:none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);

}

#reset-btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}

main section .left{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    width: 70%;
    align-items: center;


}

main section .right{
    width: 30%;
}

main section .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}
main section .bottom{
    width: 100%;
    padding: var(--padding-2xl);
    background-color:rgb(69, 68, 68);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-lg);
    display: flex;
    justify-content: center;
    align-items: center;

}
main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    gap: var(--gutter-md);
}

main section .bottom .placeholder i{
    font-size: 8rem;
}

main section .bottom .placeholder p{
    font-size: var(--font-size-lg);
    margin-top: var(--margin-md);
}